.calorie-calculator {
	&__topic {
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__box {
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		> input {
			padding: 5px 10px;
			border-radius: 10px;
			margin-right: 10px;
		}
	}
}
