.main-container {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		min-height: 70vh;
	}

	&__wrapper-left {
		width: 20%;
	}

	&__wrapper-right {
		width: 75%;
	}

	&__navigation-mobile {
		display: none;
	}
}

@media only screen and (max-width: 1900px) {
	.main-container {
		&__wrapper-left {
			width: 30%;
		}
		&__wrapper-right {
			width: 65%;
		}
	}
}

@media only screen and (max-width: 1300px) {
	.main-container {
		&__wrapper-left {
			width: 0%;
			display: none;
		}
		&__wrapper-right {
			width: 100%;
		}
		&__navigation-mobile {
			display: block;
		}
	}
}
