.navigation {
	position: fixed;
	background-color: var(--yellow);

	&__list {
		list-style-type: none;
		padding: 30px;
	}

	&__item {
		margin-bottom: 20px;
		> a {
			color: var(--black);
			text-decoration: none;
			&:hover {
				color: var(--white);
			}
		}
	}
}
