.footer {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__imgs {
		margin-bottom: 20px;
	}

	&__img {
		cursor: pointer;
		margin-right: 30px;
		&:hover {
			filter: invert(86%) sepia(72%) saturate(7497%) hue-rotate(343deg)
				brightness(94%) contrast(98%);
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__link {
		margin-right: 20px;
		color: var(--black);
		&:hover {
			color: var(--yellow);
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&__age {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 1900px) {
	.footer {
		&__container {
			align-items: end;
		}
	}
}
